body {
    background-color: #19365b;
    color: aliceblue;
}

#pageBounds {
    margin: auto; 
    width: 80%; 
    max-width: 1000px;
}

.buttonHolder {
    display: flex;
    box-sizing: border-box;
    padding: .5em 0;
}

.buttonRow {
    display: inline-flex;
    width: 50%;
    box-sizing: border-box;
}

button {
    background-color: #14253d;
    color: aliceblue;
    border: none;
    width: 8em;
    height: 3em;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;

    display: inline-block;
    box-sizing: border-box;
}

.hover {
    opacity: .5;
}

.endOfList {
    opacity: .5;
}

#mapWindow {
    background-color: #14253d; 
    padding: 2%;
}

.mapRow {
    margin: auto; 
    display: flex;
}

.mapContainer {
    display: inline-block;
    width: 50%;
    padding: .5%;
    box-sizing: border-box;
/*
    border-width: thin;
    border-style: solid;
    border-color: aliceblue;
*/
}

.map {

}

